rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tenants/{tenantId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.ownerUid;
      allow write: if false;

      match /{document=**} {
        allow read: if request.auth != null
          && request.auth.uid == get(/databases/$(database)/documents/tenants/$(tenantId)).data.ownerUid;
        allow write: if false;
      }
    }
  }
}
